<h3>About</h3>

<p>My name is Alex and I'm 20 years old I graduated high school in 2012 and tried 
	one year of college, I didnt enjoy traditional schooling. I'm just starting web 
	development for the first time. I have always been into tech. I started off 
	rooting phones and editing roms. And now I'm here at DevPointLabs learning
	a whole new language. </p>

<h3>Fun things I do</h3>
<li>Drumming</li>
<li>Video games</li>	
<li>Rooting android devices</li>
<li>Web development</li>

<h3>More about me</h3>
<p>I'm a drummer and my drumming carrer has taken me to march with 
	Riverside City College also known to be "Hollywood's Band". In the year 2012 I did
	a music video with Travis Barker and Yellow Wolf and a commercial for the game 
	Just Dance 4. That gave me the chance to participate in the Pasadena Rose parade
	of 2013. The following new years I traveled with the band to London and Madrid to 
	march in the London New Years parade and Madrids Cabalgata de Reyes parade.</p>



<h4>If you would like to contact me please email me or tweet me</h4>
      <p>Email</p>
      <li><a href="mailto:alex.burton1993@gmail.com">alex.burton1993@gmail.com</a></li>
      <p>Twitter</p>
      <li><a href="http://twitter.com/intent/tweet?screen_name=Alexand3rsc0tt">@Alexand3rsc0tt</a></li>